<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../css/nav.css" />
</head>

<body>

  <nav class="nav">
    <button ><a href"index.html"></a> Home </button>

    <div class="aboutUs">
      <button class="dropMenu"> About Us </button>
      <div class="Content">
        <a href="media/blog.html">Placement at Paws</a>
        <a href="media/blog.html">Volunteer</a>
        <a href="media/blog.html">Our Sponsors</a>
        <a href="media/blog.html">Contact Us</a>
        <a href="media/blog.html">FAQ's</a>
      </div>
    </div>

    <div class="PupTraining">
      <button class="dropMenu"> Puppy Training </button>
      <div class="Content">
        <a href="about/about.html">Puppy School</a>
        <a href="media/blog.html">Puppy Cam</a>
      </div>
    </div>

    <div class="petsAvailable">
      <button class="dropMenu"> Pets Available </button>
      <div class="Content">
        <a href="about/about.html">Adopting Info</a>
        <a href="media/blog.html">Cats Available</a>
        <a href="media/blog.html">Dogs Available</a>
      </div>
    </div>

    <div class="news">
      <button class="dropMenu"> News </button>
      <div class="Content">
        <a href="about/about.html">Subscribe to News</a>
        <a href="media/blog.html">Blog</a>
        <a href="media/blog.html">Newsletter Archive</a>
        <a href="media/blog.html">Zoe's Garden</a>
      </div>
    </div>

    <div class="donate">
      <button class="dropMenu"> Donate </button>
      <div class="Content">
        <a href="media/blog.html">Become a Sponsor</a>
        <a href="media/blog.html">Donate</a>
      </div>
    </div>
  </nav>





</body>
</html>

<script src="../scripts/menuScript.js"></script>
