body {
  background: #FFF;
  font-family: sans-serif;

}
form {
  margin: 12% auto;
  width: 19em;
  text-align: center;
  position: relative;
}

#FormDiv {
  background-color: #f1f1f1;
}

label {
  float:left;
  padding-left: 12px;
  padding-top: 10px;
}

input {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
